.column{
    float: left;
    padding:22px;
    box-sizing: border-box;
}

.row::after{
    clear: both;
    display: table;
    box-sizing: border-box;
}

#customisationsbox{
    float: right;
    margin-right: 100px;
    margin-bottom: 200px;
}

table{
    margin-left: 30px;
    width: 40%;
    min-width: 155px;
    margin-top: 50px;
}
td, th{
    padding: 5px; 
    font-family: 'Courier New', Courier, monospace;
     border-style: none;
      min-width: 155px;
      color: white;
    }
#cartbutton{
    float: right;
}    

#deliverylabel{
    float: right;
    margin-right: 100px;
    display: block;
}

#delBtn{
    color: red;
}