#customerdetails{
   margin-left: 300px;
   color: white;
   font-family: 'Courier New', Courier, monospace;
}

ul.footerlistX{
   list-style: none;
   left: 30%;
   bottom: 3%;
   position: absolute;
   min-width: 20%;
   width: 40%;
}