p{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
a:link{
    text-decoration: none;
}
label{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
ul{
    margin-top: 20px;
    list-style: none;
    left: 27%;
    position: absolute;
    min-width: 800px;
    width: 40%;
    
}
li{
    float: left;
    border-right: 2px solid #bbb;
}
li a{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 15px 10px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
}
li:last-child{
    border-right: none;
}

#startoftext{
    margin-top: 10px;
}