html{
    scroll-behavior: smooth;
}

#scrolltop{
    height: 700px;
}

#scrollbottom{
    min-width: 700px;
    width: 100%;
    height: auto;

}

#familybanner{
    margin-left: 50px;
    min-width: 20%;
    width: 40%;
    height: auto;
}

#kidsbanner{
    float: right;
    margin-right: 50px;
    min-width: 20%;
    width: 40%;
    height: auto;

}

.mainBanner{
    width: 100%;
}


img{
    max-width: 100%;
    height: auto;
}
