.companyLogo
{
    margin-left: 40px;
    width: 8%;
    margin-top: 5px;
    max-width: 100%;
    height: 100px;
}
#signuplabel
{
    text-decoration: none;
    color: greenyellow;
    margin-left: 20px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    min-width: 50%;
    width:15%;
    display: inline-block;
    max-width: 150px;
}  
#loginlabel
{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    min-width: 10%;
    width: 15%;
}

header
{
    padding: 15px 20px;
    margin: 0;
}

body
{
    background-image: url("images/black-and-grey-wood-background.jpg");
}


#ordernowlabel{
    float: right;
    margin-top: 50px;
    margin-right: 40px;
    color: red;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    min-width: 10%;
    width:15%;
}



ul.navigationbar{
    margin-top: 8px;
    list-style: none;
    left: 35%;
    position: absolute;
    min-width: 20%;
    width: 40%;
}
li.navitem{
    float: left;
    border-right: 2px solid #bbb;
    list-style-type: none;
}
li a{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 15px 10px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    
}
li:last-child{
    border-right: none;
}

.droptxt{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown{
    position: relative;
    display: inline-block;
    min-width: 10%;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
}

.dropdown-content a{
    color: greenyellow;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Courier New', Courier, monospace;
}

.dropdown-content a:hover{
    background-color: gray;
}
.dropdown:hover .dropdown-content{
    display: block;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:yellowgreen;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    height: 60px;
}
#footerElement{
    display: inline;
    border-right: 2px solid white;
    list-style-type: none;
    padding-right: 8px;
}

#footerList li:last-child{
    border-right: none;
}