#companyLogo
{
    margin-left: 60px;
    width: 8%;
}
#signuplabel
{
    text-decoration: none;
    color: yellowgreen;
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}  
#loginlabel
{
    text-decoration: none;
    color: yellowgreen;
    margin-left: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

header
{
    padding: 15px 20px;
    margin: 0;
}

body
{
    background-image: url("images/black-and-grey-wood-background.JPG");
}


#ordernowlabel{
    float: right;
    margin-top: 50px;
    margin-right: 90px;
    color: red;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    min-width: 100px;
}


footer{
    bottom: 0;
    min-width: 100px;  
    width: 40%;

}

#footerlist{
    color: white;
    min-width: 100px;

}

img{
    max-width: 100%;
    height: auto;
}
