ul.hourslist{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    list-style-position: inside;
    list-style-type: none;
    margin-left: 160px;
}
#hoursTitle{  
    margin-top: 0px;
    margin-left: 200px;
    font-family: 'Courier New', Courier, monospace;
}

#addresstitle{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 200px;
}

#addressdetails{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 200px;
    color: white;
}

#contactdetails{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 200px;
    color: white;
    text-decoration: none;
}

.location{
    float: right;
    margin-right: 100px;
    width: 20%;
    min-width: 30%;
}

#locationtext{
    font-family: 'Courier New', Courier, monospace;
}
#locationimage{
    width: 80%;
    height: auto;
    min-width: 30%;
}
 .container{
    width: 100px;
    height: 78px;
    display: block;
}
