#menunavitem{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 15px 10px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellowgreen;
    float: left;
    border-right: 2px solid #bbb;
    list-style-type: none;
}


ul.menunavigationbar{
    top: 100px;
    list-style: none;
    left: 35%;
    position: absolute;
    min-width: 20%;
    width: 40%;
}

#menuitemnoborder{
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    float: left;
}


ul.menunavigationbar li a:hover{
    background-color: white;
}

#pepperoniPizza{
    margin-left: 10px;
}
#pepperoniPizzaText{
    font-family: 'Courier New', Courier, monospace;
}
#addicon{
    margin-left: 110px;
}
.border{
    border-style: solid;
    border-color: black;
}
#pizzatitle{
    color: white;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.column{
    float: left;
    padding:22px;
    box-sizing: border-box;
}

.row::after{
    clear: both;
    display: table;
    box-sizing: border-box;
}
#floatlabel{
    float: right;
}

#qtytextbox{
    width: 100px;
}
#cartbutton{
    margin-left: 70px;
}
#price{
    color: aqua;
}
