#menunavitem{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 15px 10px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    float: left;
    border-right: 2px solid #bbb;
    list-style-type: none;
}

#movebody{
    margin-top: 100px;
}

ul.menunavigationbar{
    margin-top: 8px;
    list-style: none;
    left: 35%;
    position: absolute;
    min-width: 20%;
    width: 40%;
}

#menuitemnoborder{
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    float: left;
}

ul.menunavigationbar li a:hover{
    background-color: white;
}

#pepperoniPizza{
    float: left;
}
#pepperoniPizzaText{
    font-family: 'Courier New', Courier, monospace;
}
#movecart{
    margin-left: 290px;
}
.border{
    border-style: solid;
    border-color: black;
}
#pizzatitle{
    color: white;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}