#menunavitem{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 15px 10px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

ul.menunavigationbar{
    margin-top: 8px;
    list-style: none;
    left: 35%;
    position: absolute;
    min-width: 20%;
    width: 40%;
}