.column{
    float: left;
    padding:22px;
    box-sizing: border-box;
    width: 30%;
    margin-left:50px;
}

.row::after{
    clear: both;
    display: table;
    box-sizing: border-box;
}

#pizzatitle{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#pizzaText{
    font-family: 'Courier New', Courier, monospace;
}

#qtytextbox{
    width: 100px;
}

#price{
    color: aqua;
}

#addicon{
    margin-left: 85px;
}
#cartbutton{
    margin-left: 150px;
}