.column{
    float: left;
    box-sizing: border-box;
    width: 21%;
    margin-left:50px;
    display: block;
}

.row::after{
    clear: both;
    display: table;
    box-sizing: border-box;
}

#pizzatitle{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#pizzaText{
    font-family: 'Courier New', Courier, monospace;
}

#qtytextbox{
    width: 100px;
}

#price{
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}

.addicon{
    margin-left: 85px;
}
#cartbutton{
    margin-left: 150px;
}

.qty{
    width: 100px;
}

#tablelabel{
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}

table{
    border: 1px solid black;
}

th{
    color: yellowgreen;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
}
td{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
}