#centreform{
    margin-left: 300px;
}
label{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#submitbutton{
    margin-left: 300px;
}

ul.footerlistX{
    list-style: none;
    left: 30%;
    bottom: 3%;
    position: absolute;
    min-width: 20%;
    width: 40%;
 }

 
#footerDelivery{
    bottom: 0;
    min-width: 100px;  
    width: 40%;
 }