#centreform{
    margin-left: 300px;
}
label{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#submitbutton{
    margin-left: 300px;
    min-width: 10%;
}

 .container{
    width: 100px;
    height: 78px;
    display: block;
}
